<div {?extraClass}class="{extraClass}"{/extraClass} data-xr-widget="{?widgetType}{widgetType}{:else}input{/widgetType}" xr-type="textarea" {?name}xr-name="{name}"{/name} {?field}xr-field="{field}"{/field} {?format}xr-formatters="{format}"{/format} {?validate}xr-validators="{validate}"{/validate}>
	{?caption}<label class="xr-input-caption"><span>{caption}</span></label>{/caption}
	<div class="xr-input-wrapper">
		<textarea class="xr-input-field" {?name}name="{name}"{/name} {?value}value="{value}"{/value} {?placeholder}placeholder="{placeholder}"{/placeholder}></textarea>
	</div>
</div>